<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Milestone1/frontend/src/static/css/tp.css" />
  </head>

  <body>
    <div class="header">
      <h1 id="mainHeader">Sports Place</h1>
      <button id="signIn">Sign In</button>
      <button id="notifications">Notifications</button>
      <img
        id="profilePic"
        src="/Milestone1/frontend/src/static/images/default_profile_pic.webp"
      />
    </div>

    <div class="settingsDiv">
      <div class="settingsDivStyle">
        <button id="settingsBtn">Settings</button>
      </div>
    </div>

    <div class="leagueHeaderBtnStyle">
      <div class="homeBtnStyle">
        <button id="home">Home</button>
      </div>
    </div>

    <div class="leagueHeader">
      <div class="leagueHeaderStyle">
        <h1>League - Team Name</h1>
      </div>
    </div>

    <div class="mainBtns">
      <button id="schedule">Schedule</button>
      <button id="scores">Scores</button>
    </div>

    <div class="content">
      <!-- Ads -->
      <div class="ads">ADS</div>

      <!-- Team Picture -->
      <div class="homePicture">TEAM PICTURE</div>

      <!-- Favorite Teams -->
      <div class="favorite-teams">
        <label id="fTeamsLabel">Favorite Teams</label>
        <label id="nflLabel">NFL:</label>
        <label id="nbaLabel">NBA:</label>
        <label id="mlbLabel">MLB:</label>
        <label id="mlsLabel">MLS:</label>
      </div>
    </div>
  </body>
</html>
